<nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container">
      <a class="navbar-brand" href="#">Kutak dobre hrane</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" (click)="navigateTo(1)">Profile</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" (click)="navigateTo(2)">Restaurants</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" (click)="navigateTo(3)">Reservations</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" (click)="navigateTo(4)">Food delivery</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" (click)="logout()">Log out</a>
          </li>
        </ul>
      </div>
    </div>
</nav>

<div class="container">
  
    <div *ngIf="page == 1">
      <h3>Profile</h3><br>

        Forename:<br>
        <input type="text" name="forename" placeholder="Forename" [(ngModel)]="user.forename">
        
        Surname:<br>
        <input type="text" name="surname" placeholder="Surname" [(ngModel)]="user.surname">

        Address:<br>
        <input type="text" name="address" placeholder="Address" [(ngModel)]="user.address">

        Email:<br>
        <input type="email" name="email" placeholder="Email" [(ngModel)]="user.email">

        Contact phone:<br>
        <input type="tel" name="contactPhone" placeholder="Phone" [(ngModel)]="user.contactPhone">

        Credit card number:<br>
        <input type="number" name="creditCardNumber" placeholder="Credit Card Number" [(ngModel)]="user.creditCardNumber">

        <p class="error">{{error}}</p>
        <br>
        <button (click)="updateInfo()">Update info</button>
    </div>

    <div *ngIf="page == 2">
        <h3>Restaurants</h3><br>

        <div>
          <label>
            Name:
            <input type="text" [(ngModel)]="searchName" />
          </label>
          <label>
            Address:
            <input type="text" [(ngModel)]="searchAddress" />
          </label>
          <label>
            Type:
            <input type="text" [(ngModel)]="searchType" />
          </label>
        </div>
      
        <table>
          <thead>
            <tr>
              <th (click)="setSort('name')">Name</th>
              <th (click)="setSort('address')">Address</th>
              <th (click)="setSort('type')">Type</th>
              <th>Workers</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let restaurant of sortedAndFilteredRestaurants">
              <td (click)="restaurantDetails(restaurant)">{{ restaurant.name }}</td>
              <td>{{ restaurant.address }}</td>
              <td>{{ restaurant.type }}</td>
              <td>
                <ul>
                  <div *ngFor="let waiter of waiters">
                    <div *ngIf="waiter.worksAt == restaurant.name">
                      {{waiter.forename}} {{waiter.surname}}
                    </div>
                  </div>
                </ul>
              </td>
            </tr>
          </tbody>
        </table>
    </div>

    <div *ngIf="page == 3">
      <h3>Active Reservations</h3><br>

      <div *ngIf="activeReservations.length == 0">
        <p>No active reservations</p>
      </div>
      <div *ngIf="activeReservations.length != 0">
        <table>
          <tr>
              <th>Restaurant</th>
              <th>Date</th>
              <th>Time</th>
              <th>Size</th>
              <th>Table</th>
              <th>Additional Requests</th>
          </tr>
          <tr *ngFor="let reservation of activeReservations">
              <td>
                  <p>{{reservation.restaurantName}}</p>
              </td>
              <td>
                  <p>{{reservation.startTime.getDate()}}.{{reservation.startTime.getMonth() + 1}}</p>
              </td>
              <td>
                  <p>{{reservation.startTime.getHours()}}:{{reservation.startTime.getMinutes().toString().padStart(2, '0')}} - {{reservation.endTime.getHours()}}:{{reservation.endTime.getMinutes().toString().padStart(2, '0')}}</p>
              </td>
              <td>
                  <p>{{reservation.numberOfPeople}}</p>
              </td>
              <td>
                  <p>{{reservation.tableId}}</p>
              </td>
              <td>
                  <p>{{reservation.additionalRequests}}</p>
              </td>
          </tr>
        </table>
      </div>

    <br>

    <h3>Expired Reservations</h3><br>
      
      <div *ngIf="expiredReservations.length == 0">
        <p>No expired reservations</p>
      </div>
      <div *ngIf="expiredReservations.length != 0">
        <table>
          <tr>
              <th>Restaurant</th>
              <th>Date</th>
              <th>Time</th>
              <th>Size</th>
              <th>Table</th>
              <th>Additional Requests</th>
          </tr>
          <tr *ngFor="let reservation of expiredReservations">
              <td>
                  <p>{{reservation.restaurantName}}</p>
              </td>
              <td>
                  <p>{{reservation.startTime.getDate()}}.{{reservation.startTime.getMonth() + 1}}</p>
              </td>
              <td>
                  <p>{{reservation.startTime.getHours()}}:{{reservation.startTime.getMinutes().toString().padStart(2, '0')}} - {{reservation.endTime.getHours()}}:{{reservation.endTime.getMinutes().toString().padStart(2, '0')}}</p>
              </td>
              <td>
                  <p>{{reservation.numberOfPeople}}</p>
              </td>
              <td>
                  <p>{{reservation.tableId}}</p>
              </td>
              <td>
                  <p>{{reservation.additionalRequests}}</p>
              </td>
          </tr>
        </table>
      </div>
    </div>
</div>

