<nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container">
      <a class="navbar-brand" href="#">Kutak dobre hrane</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" (click)="navigateTo(1)">Profile</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" (click)="navigateTo(2)">Reservations</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" (click)="navigateTo(3)">Food delivery</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" (click)="navigateTo(4)">Statistics</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" (click)="logout()">Log out</a>
          </li>
        </ul>
      </div>
    </div>
</nav>

<div class="container">
  
    <div *ngIf="page == 1">
      <h3>Profile</h3><br>

        <img src="{{ user.profilePicture }}" alt="User" style="width: 100px; height: 100px;">
        <br>
        <input type="file" (change)="setPicture($event)">
        <br>

        Forename:<br>
        <input type="text" name="forename" placeholder="Forename" [(ngModel)]="user.forename">
        
        Surname:<br>
        <input type="text" name="surname" placeholder="Surname" [(ngModel)]="user.surname">

        Address:<br>
        <input type="text" name="address" placeholder="Address" [(ngModel)]="user.address">

        Email:<br>
        <input type="email" name="email" placeholder="Email" [(ngModel)]="user.email">

        Contact phone:<br>
        <input type="tel" name="contactPhone" placeholder="Phone" [(ngModel)]="user.contactPhone">

        Credit card number:<br>
        <input type="number" name="creditCardNumber" placeholder="Credit Card Number" [(ngModel)]="user.creditCardNumber">

        <p class="error">{{error}}</p>
        <br>
        <button (click)="updateInfo()">Update info</button>
    </div>

    <div *ngIf="page == 2">
        <h3>Unfilled Reservations</h3><br>
          <div *ngIf="pendingReservations.length == 0">
            <p>No unfilled reservations</p>
          </div>

          
          <div *ngIf="pendingReservations.length > 0">
            <table>
              <tr>
                <th>User</th>
                <th>Date</th>
                <th>Time</th>
                <th>Additional requests</th>
                <th>Available tables</th>
                <th>Accept request</th>
                <th>Reject request</th>
              </tr>
              <tr *ngFor="let reservation of pendingReservations">
                <td>
                  <p>{{reservation.username}}</p>
                </td>
                <td>
                  <p>{{reservation.startTime.getDate()}}.{{reservation.startTime.getMonth() + 1}}</p>
                </td>
                <td>
                    <p>{{reservation.startTime.getHours()}}:{{reservation.startTime.getMinutes().toString().padStart(2, '0')}} - {{reservation.endTime.getHours()}}:{{reservation.endTime.getMinutes().toString().padStart(2, '0')}}</p>
                </td>
                <td>
                    <p>{{reservation.additionalRequests}}</p>
                </td>
                <td>
                  <select [(ngModel)]="reservation.tableId">
                    <option *ngFor="let table of reservation.availableTables" [value]="table">{{table}}</option>
                  </select>
                </td>
                <td>
                  <button (click)="confirmReservation(reservation)">Accept</button>
                </td>
                <td>
                  <button (click)="rejectReservation(reservation)">Reject</button>
                </td>
              </tr>
          </table>
        </div>
        <br>

        <h3>Confirmed Reservations</h3><br>
        <div *ngIf="acceptedReservations.length == 0">
          <p>No confirmed reservations</p>
        </div> 

        <div *ngIf="acceptedReservations.length > 0">
          <table>
            <tr>
              <th>User</th>
              <th>Date</th>
              <th>Time</th>
              <th>Additional requests</th>
              <th>Showed up</th>
            </tr>
            <tr *ngFor="let reservation of acceptedReservations">
              <td>
                <p>{{reservation.username}}</p>
              </td>
              <td>
                <p>{{reservation.startTime.getDate()}}.{{reservation.startTime.getMonth() + 1}}</p>
              </td>
              <td>
                  <p>{{reservation.startTime.getHours()}}:{{reservation.startTime.getMinutes().toString().padStart(2, '0')}} - {{reservation.endTime.getHours()}}:{{reservation.endTime.getMinutes().toString().padStart(2, '0')}}</p>
              </td>
              <td>
                  <p>{{reservation.additionalRequests}}</p>
              </td>
              
              <td>
                <div *ngIf="reservation.showedUp == 0">
                  <button (click)="showedUp(reservation, 1)" class="btn btn-success">Yes</button>
                  <button (click)="showedUp(reservation, 0)" class="btn btn-danger">No</button>
                </div>
                <div *ngIf="reservation.showedUp == 1">
                  <p>Yes</p>
                </div>
                <div *ngIf="reservation.showedUp == -1">
                  <p>No</p>
                </div>
              </td>
            </tr>
          </table>
        </div>

        <br>

        <canvas id="layoutCanvas" width="800" height="600" style="border:1px solid black;"></canvas>

    </div>

    <div *ngIf="page == 3">
      <h3>Deliveries</h3>

      <div *ngIf="orders.length == 0">
        <p>No deliveries</p>
      </div>
      <div *ngIf="orders.length > 0">
        <table>
          <tr>
            <th>User</th>
            <th>Order Time</th>
            <th>Items</th>
            <th>Price</th>
            <th>Delivery Time</th>
            <th>Cancel Delivery</th>
          </tr>
          <tr *ngFor="let order of orders">
            <td>{{ order.username }}</td>
            <td>
              <p>{{order.orderTime.getDate()}}.{{order.orderTime.getMonth() + 1}} {{order.orderTime.getHours()}}:{{order.orderTime.getMinutes().toString().padStart(2, '0')}}
              </p>
            </td>
            <td>
              <div *ngFor="let item of order.items">
                <p>{{ item.name }} x {{ item.quantity }}</p>
              </div>
            </td>
            <td>{{ order.totalPrice }}</td>
            <td>
              <select [(ngModel)]="order.estimatedTime" name="order.estimatedTime">
                <option value="20-30 minutes">20-30 minutes</option>
                <option value="30-40 minutes">30-40 minutes</option>
                <option value="50-60 minutes">50-60 minutes</option>
              </select>
              <button (click)="setDeliveryTime(order)">Set Delivery Time</button>
            </td>
            <td>
              <button (click)="cancelDelivery(order)">Cancel Delivery</button>
            </td>
          </tr>

        </table>

      </div>
    </div>

    <div *ngIf="page == 4">
      <h3>Statistics</h3><br>

      <h4>Guests Per Day Chart</h4>
      
      <div class="chart-container">
        <div id="guest-chart" style="width: 100%; height: 400px;"></div>
      </div>
      
      <div id="pie-chart" style="width:100%; height:400px;"></div>

      <div id="histogram-chart"></div>

    </div>
</div>

