

.navbar-brand{
    font-size: 24px;
    padding-bottom: 10px;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
  }
  .navbar {
    background-color: #343a40; /* Dark grey color */
    padding: 20px 0;
    border-radius: 0;
  }
  .navbar-nav .nav-link {
    color: #fff; /* White color */
  }
  .navbar-nav .nav-link:hover {
    color: #ccc; /* Light grey color on hover */
  }
  .container {
    max-width: 1350px;
    margin: 20px auto;
  }
  h2 {
    text-align: center;
    color: #343a40; /* Dark grey color */
  }
  h4 {
    color: #343a40; /* Dark grey color */
  }
  input[type="text"],
  input[type="password"],
  input[type="email"],
  input[type="tel"],
  input[type="number"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc; /* Light grey border */
    border-radius: 5px;
    box-sizing: border-box;
  }
  input[type="file"] {
    margin-bottom: 10px;
  }
  input[type="radio"] {
    margin-right: 5px;
  }
  button {
    background-color: #343a40; /* Dark grey color */
    color: #fff; /* White color */
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  button:hover {
    background-color: #555; /* Darker grey color on hover */
  }
  .error {
    color: red;
  }


  table {
    width: 100%;
    border-collapse: collapse;
    text-align: center !important;
  }

  th, td {
    border: 1px solid #ddd;
    padding: 12px; /* Increased padding for larger cells */

  }

  th {
    background-color: #f2f2f2;
    text-align: center;
  }

  td {
    white-space: nowrap; /* Prevent text from wrapping inside cells */
  }

  input {
    width: 95% !important; /* Adjusted width to fit better within the cell */
    box-sizing: border-box;
    padding: 5px;
    margin: 2px 0;
  }

  td button {
    margin: 0 5px;
    display: inline-block; /* Ensure buttons are displayed inline */
  }

  td button:first-child {
    margin-left: 0; /* Remove margin from the first button */
  }

  td button:last-child {
    margin-right: 0; /* Remove margin from the last button */
  }

  .restaurant-form {
    max-width: 400px; /* Adjust width as needed */
    margin: auto;
}

.restaurant-form label {
    display: block;
    margin-bottom: 5px;
}

.restaurant-form input[type="text"],
.restaurant-form textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.restaurant-form textarea {
    height: 150px; /* Adjust height as needed */
}

.restaurant-form button {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

.restaurant-form button:hover {
    background-color: #45a049;
}

.error {
    color: red;
    margin-top: 10px;
    font-size: 14px;
}