

<nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container">
      <a class="navbar-brand" href="#">Kutak dobre hrane</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" (click)="navigateTo(1)">User List</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" (click)="navigateTo(2)">Restaurant List</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" (click)="navigateTo(3)">User Requests</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" (click)="navigateTo(4)">Add Restaurant</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" (click)="navigateTo(5)">Add Waiter</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" (click)="logout()">Log out</a>
          </li>
        </ul>
      </div>
    </div>
</nav>

<div class="container">
  
    <div *ngIf="page == 1">
        <h3>User List</h3><br>

        <table>
            <tr>
                <th>Forename</th>
                <th>Surname</th>
                <th>Address</th>
                <th>Email</th>
                <th>Contact Phone</th>
                <th>Credit Card Number</th>
                <th>Actions</th>
            </tr>
            <tr *ngFor="let user of users">
                <td>
                    <input type="text" name="forename" placeholder="Forename" [(ngModel)]="user.forename">
                </td>
                <td>
                    <input type="text" name="surname" placeholder="Surname" [(ngModel)]="user.surname">
                </td>
                <td>
                    <input type="text" name="address" placeholder="Address" [(ngModel)]="user.address">
                </td>
                <td>
                    <input type="email" name="email" placeholder="Email" [(ngModel)]="user.email">
                </td>
                <td>
                    <input type="tel" name="contactPhone" placeholder="Phone" [(ngModel)]="user.contactPhone">
                </td>
                <td>
                    <input type="number" name="creditCardNumber" placeholder="Credit Card Number" [(ngModel)]="user.creditCardNumber">
                </td>
                <td>
                    <button (click)="updateInfo(user)" class="btn btn-success">Save</button>
                    <button (click)="setStatus(user)" class="btn btn-danger">
                        <div *ngIf="user.accountStatus == -2">
                            Unban
                        </div>

                        <div *ngIf="user.accountStatus == 1">
                            Ban
                        </div>
                    </button>
                </td>
            </tr>
        </table>

        <br>
    </div>

    <div *ngIf="page == 2">
        <h3>Restaurant List</h3><br>

        <table>
            <tr>
                <th>Restaurant Name</th>
                <th>Type</th>
                <th>Address</th>
                <th>Description</th>
                <th>Contact Person</th>
                <th>Working Hours</th>
            </tr>
            <tr *ngFor="let restaurant of restaurants">
                <td>
                    <p>{{restaurant.name}}</p>
                </td>
                <td>
                    <p>{{restaurant.type}}</p>
                </td>
                <td>
                    <p>{{restaurant.address}}</p>
                </td>
                <td>
                    <p>{{restaurant.description}}</p>
                </td>
                <td>
                    <p>{{restaurant.contactPerson}}</p>
                </td>
                <td>
                    <div *ngFor="let workingHour of restaurant.workingHours">
                        <p>{{workingHour.day}} {{workingHour.open}} - {{workingHour.close}}</p>
                    </div>
                </td>
                
            </tr>
        </table>
    </div>

    <div *ngIf="page == 3">
        <h3>Request List</h3><br>

        <table>
            <tr>
                <th>Username</th>
                <th>Forename</th>
                <th>Email</th>
                <th>Contact Phone</th>
                <th>Credit Card Number</th>
                <th>Actions</th>
            </tr>
            <tr *ngFor="let user of requestedUsers">
                <td>
                    <p>{{user.username}}</p>
                </td>
                <td>
                    <p>{{user.forename}}</p>
                </td>
                <td>
                    <p>{{user.email}}</p>
                </td>
                <td>
                    <p>{{user.contactPhone}}</p>
                </td>
                <td>
                    <p>{{user.creditCardNumber}}</p>
                </td>
                <td>
                    <button (click)="acceptUser(user)" class="btn btn-success">Accept</button>
                    <button (click)="rejectUser(user)" class="btn btn-danger">Reject</button>
                </td>
        </table>
    </div>

    <div class="container">
        <div *ngIf="page == 4">
            <h3>Add Restaurant</h3><br>
        
            <form class="restaurant-form" (submit)="saveRestaurant()">
                <label for="name">Name:</label>
                <input type="text" id="name" [(ngModel)]="name" name="name" required />
        
                <label for="type">Type:</label>
                <input type="text" id="type" [(ngModel)]="type" name="type" required />
        
                <label for="address">Address:</label>
                <input type="text" id="address" [(ngModel)]="address" name="address" required />
        
                <label for="description">Description:</label>
                <textarea id="description" [(ngModel)]="description" name="description" required></textarea>
        
                <label for="contactPerson">Contact Person:</label>
                <input type="text" id="contactPerson" [(ngModel)]="contactPerson" name="contactPerson" required />
        
                <label for="layout">Layout:</label>
                <input type="file" id="layout" (change)="onFileSelected($event)">
        
                <label for="workingHours">Working Hours - "Day,StartTime,EndTime;":</label>
                <textarea id="workingHours" [(ngModel)]="workingHoursText" name="workingHoursText" required></textarea>
        
                <p class="error">{{error}}</p>
        
                <button type="submit">Save Restaurant</button>
            </form>
        </div>
    </div>

    <div id="registerForm" *ngIf="page == 5">
        <h4>Add Waiter</h4>
    
        <input type="text" name="newWaiter.worksAt" placeholder="Restaurant Name" [(ngModel)]="newWaiter.worksAt">
        <input type="text" name="newWaiter.username" placeholder="Username" [(ngModel)]="newWaiter.username">
        <input type="password" name="newWaiter.password" placeholder="Password" [(ngModel)]="newWaiter.password">
        <input type="text" name="newWaiter.securityQuestion" placeholder="Security Question" [(ngModel)]="newWaiter.securityQuestion">
        <input type="text" name="newWaiter.securityAnswer" placeholder="Answer" [(ngModel)]="newWaiter.securityAnswer">
        <input type="text" name="newWaiter.forename" placeholder="Forename" [(ngModel)]="newWaiter.forename">
        <input type="text" name="newWaiter.surname" placeholder="Surname" [(ngModel)]="newWaiter.surname">
        <div>Sex:</div>
        <label><input type="radio" value="M" [(ngModel)]="newWaiter.sex"> M</label>&nbsp;
        <label><input type="radio" value="F" [(ngModel)]="newWaiter.sex"> F</label>
        <input type="text" name="newWaiter.address" placeholder="Address" [(ngModel)]="newWaiter.address">
        <input type="tel" name="newWaiter.contactPhone" placeholder="Phone" [(ngModel)]="newWaiter.contactPhone">
        <input type="email" name="newWaiter.email" placeholder="Email" [(ngModel)]="newWaiter.email">
        <input type="file" name="newWaiter.profilePicure" [(ngModel)]="newWaiter.profilePicure">
        <input type="number" name="newWaiter.creditCardNumber" placeholder="Credit Card Number" [(ngModel)]="newWaiter.creditCardNumber">
    
        <p class="error">{{error}}</p>
  
        <button (click)="addWaiter()">Register</button>
      </div>

</div>

<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">