<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kutak dobre hrane</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="#">Kutak dobre hrane</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#" (click)="navigateTo(0)">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" (click)="navigateTo(1)">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" (click)="navigateTo(2)">Register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" (click)="navigateTo(3)">Reset password</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  
  <div class="container">
  
    <div id="loginForm" *ngIf="page == 0">
      <h3>Home</h3>

      Number of registered guests: {{this.numGuests}}<br>
      Number of restaurants: {{this.numRestaurants}}<br><br>

      <div class="form-row">
        <div class="form-group col-md-4">
            <label for="searchName">Name:</label>
            <input type="text" class="form-control" id="searchName" [(ngModel)]="searchName" />
        </div>
        <div class="form-group col-md-4">
            <label for="searchAddress">Address:</label>
            <input type="text" class="form-control" id="searchAddress" [(ngModel)]="searchAddress" />
        </div>
        <div class="form-group col-md-4">
            <label for="searchType">Type:</label>
            <input type="text" class="form-control" id="searchType" [(ngModel)]="searchType" />
        </div>
    </div>
    
      <table>
        <thead>
          <tr>
            <th (click)="setSort('name')">Name</th>
            <th (click)="setSort('address')">Address</th>
            <th (click)="setSort('type')">Type</th>
            <th>Workers</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let restaurant of sortedAndFilteredRestaurants">
            <td>{{ restaurant.name }}</td>
            <td>{{ restaurant.address }}</td>
            <td>{{ restaurant.type }}</td>
            <td>
              <ul>
                <div *ngFor="let waiter of waiters">
                  <div *ngIf="waiter.worksAt == restaurant.name">
                    {{waiter.forename}} {{waiter.surname}}
                  </div>
                </div>
              </ul>
            </td>
          </tr>
        </tbody>
      </table>

    </div>

    <div id="loginForm" *ngIf="page == 1">
      <h3>Login</h3>
  
      <input type="text" name="username" placeholder="Username" [(ngModel)]="username">
      <input type="password" name="password" placeholder="Password" [(ngModel)]="password">
  
      <p class="error">{{error}}</p>

      <button (click)="login()">Login</button>
  
    </div>
  
    <div id="registerForm" *ngIf="page == 2">
      <h3>Register</h3>
  
      <input type="text" name="username" placeholder="Username" [(ngModel)]="username">
      <input type="password" name="password" placeholder="Password" [(ngModel)]="password">
      <input type="text" name="securityQuestion" placeholder="Security Question" [(ngModel)]="securityQuestion">
      <input type="text" name="securityAnswer" placeholder="Answer" [(ngModel)]="securityAnswer">
      <input type="text" name="forename" placeholder="Forename" [(ngModel)]="forename">
      <input type="text" name="surname" placeholder="Surname" [(ngModel)]="surname">
      <div>Sex:</div>
      <label><input type="radio" value="M" [(ngModel)]="sex"> M</label>&nbsp;
      <label><input type="radio" value="F" [(ngModel)]="sex"> F</label>
      <input type="text" name="address" placeholder="Address" [(ngModel)]="address">
      <input type="tel" name="contactPhone" placeholder="Phone" [(ngModel)]="contactPhone">
      <input type="email" name="email" placeholder="Email" [(ngModel)]="email">
      <input type="file" (change)="setPicture($event)">
      <input type="number" name="creditCardNumber" placeholder="Credit Card Number" [(ngModel)]="creditCardNumber">
  
      <p class="error">{{error}}</p>

      <button (click)="register()">Register</button>
    </div>

    <div id="resetForm" *ngIf="page == 3">
        <h3>Reset password</h3><br>
    
        <button (click)="navigateTo(31)">I know my password</button>&nbsp;&nbsp;
    
        <button (click)="navigateTo(321)">I forgot my password</button>
    
    </div>

    <div id="resetForm" *ngIf="page == 31">
        <h3>Reset password</h3><br>
    
        Username:
        <input type="text" name="username" [(ngModel)]="username">

        Old password:
        <input type="password" name="oldPassword" [(ngModel)]="oldPassword">

        New password:
        <input type="password" name="newPassword" [(ngModel)]="newPassword">

        Confirm new password:
        <input type="password" name="confirmNewPassword" [(ngModel)]="confirmNewPassword">

        <p class="error">{{error}}</p>

        <button (click)="resetPasswordKnow()">Submit</button>
    
    </div>

    <div id="resetForm" *ngIf="page == 321">
        <h3>Reset password - Step 1</h3><br>
    
        Enter your username:
        <input type="text" name="username" [(ngModel)]="username">

        <p class="error">{{error}}</p>

        <button (click)="resetPasswordDontKnow(1)">Get security question</button>
    
    </div>

    <div id="resetForm" *ngIf="page == 322">
        <h3>Reset password - Step 2</h3><br>
    
        "{{securityQuestion}}""
        <input type="text" name="userSecurityAnswer" [(ngModel)]="userSecurityAnswer">

        <p class="error">{{error}}</p>

        <button (click)="resetPasswordDontKnow(2)">Submit</button>
    
    </div>

    <div id="resetForm" *ngIf="page == 323">
        <h3>Reset password - Step 3</h3><br>
    
        New password:
        <input type="password" name="newPassword" [(ngModel)]="newPassword">

        Confirm new password:
        <input type="password" name="confirmNewPassword" [(ngModel)]="confirmNewPassword">

        <p class="error">{{error}}</p>

        <button (click)="resetPasswordDontKnow(3)">Submit</button>
    
    </div>

  </div>

  
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>